@page "/addvehiclepage"

@using VehicleTracking.Web.Domain.Models.Vehicle

@if (!Saved)
{
    <section class="employee-edit">

        <h1 class="page-title">Details for @Vehicle.VehicleName </h1>

        <EditForm Model="@Vehicle" OnValidSubmit="@HandleValidSubmit"
                  OnInvalidSubmit="@HandleInvalidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary></ValidationSummary>

            @if (Vehicle.VehicleId == null)
            {
             
            }

            <div class="row mb-3">
                <label for="lastName" class="col-form-label col-md-3">Last name: </label>
                <div class="col-md-8">
                    <InputText id="lastName" class="form-control col-md-8" @bind-Value="@Vehicle.VehicleName" placeholder="Enter last name"></InputText>
                </div>
                <ValidationMessage class="offset-md-3 col-md-8" For="@(() => Vehicle.VehicleName)" />
            </div>

            

       
            <button type="button" class="btn btn-outline-primary ms-1" @onclick="@NavigateToOverview">Back to overview</button>

        </EditForm>


    </section>
}
